body {
	background-color:#000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	line-height:1.5;
	text-align:left;
	padding:0;
	margin:0;
}

form, fieldset, dl, dt, dd, table, th, td, h1, h2, h3, h4, h5, h6, p
	{
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	padding:0;
	margin:0;
	}
h1	{ font-size: 140%; font-weight:bold; color:#404040; margin-bottom:15px; }
h2	{ font-size: 140%; font-weight:bold; margin-bottom:8px; }
h3	{ font-size: 150%; }
h4	{ font-size: 130%; }
h5	{ font-size: 120%; font-weight:bold; color:#404040; }
h6	{ font-size: 110%; font-weight:bold; }
h7	{ font-size: 100%; }

p	{ margin-bottom:8px; }
p.last  { margin-bottom:25px; }

hr {
	background-color: #bababa;
	border: 0 none;
	clear: both;
	color: #bababa;
	height: 1px;
	margin: 0;
	padding: 0;
	width: 100%;
}

fieldset { border:0 none; }

table,tr,td { vertical-align:top; }

.dottedLine {
	border-top:1px dashed #bababa;
}

.intro {
	margin-bottom:15px;
}

.spaced {
	margin:10px 0;
}

.clear { clear: both; }

.split { overflow:hidden; }

.contentLeft { float:left; width:49%; }
.contentRight { float:right; width:49%; }
.split25 .contentLeft { width:23%; }
.split25 .contentRight { width:73%; }
.split60 .contentLeft { width:58.7%; }
.split60 .contentRight { width:39.2%; }
.split75 .contentLeft { width:71.5%; }
.split75 .contentRight { width:26.2%; }

a:link { color:#404040;}
a:visited { color:#404040;}
a:active { color:#404040;}
a:hover { color:#404040;}

a img {border: 0;}

.insetLeft {
	float:left;
	margin-right:16px;
	margin-bottom:10px;
}

.insetRight {
	float:right;
	margin-left:16px;
	margin-bottom:10px;
}

ul {
	margin-top:0;
	margin-bottom:0;
	padding-bottom:8px;
	
}

ul.none, ul.horiz { 
	list-style-type:none; 
	padding:0;
	margin:0;
}

.none li, .horiz li {
	padding:0;
	margin:0;
}

.horiz li {
	display:inline;
}

.bullet {
	margin-left:1.2em;
	list-style-type:disc;
}

img.inlineLeft {
	float:left;
	margin:5px 10px 8px -1px;
}

img.inlineRight {
	float:right;
	margin:5px -4px 8px 10px;
}

#site 
{
    width:886px;
    margin:0 auto;
	background-color:#fff;
	/*background-image:url(../images/site_bg.png);*/
	background-repeat:repeat-y;
	background-position:center top;	
}

#siteInnerXXX 
{
    width:880px;
    margin:0 auto;
    padding-bottom:18px;
}

/**************
 HEAD
**************/

#headTop 
{
    position:relative;
}

#headTop #logo 
{
    position:absolute;
    top:39px;
    left:40px;
}

#headTop h4 
{
    position:absolute;
    top:39px;
    right:40px;
    color:#fff;
    text-align:center;
    line-height:1.2;
}

#headNav
{
   	background-image: url(../images/tnav_bg.gif);
	background-repeat: repeat-x;
	min-height:42px;
}

#headNav ul 
{
    text-align:center;
    margin-left:-5px;
}

#headNav ul li 
{
    font-size:12px;
    margin-left:5px;
    line-height:42px;
}

#headNav ul li a
{
    text-decoration:none;
}




/**************
 LEFTNAV
**************/



/**************
 FOOT
**************/

#footWrap 
{
    background-color: #1d273d;
   	background-image: url(../images/foot_bg.gif);
	background-repeat: repeat-x;
	/*margin:0 8px;*/
	padding:25px 0 17px 0;
	text-align:center;
}

#footNav {
	clear:both;
}

#footNav a {
	color:#fff;
	text-decoration:none;
}

#footNav a:hover {
	text-decoration:underline;
}

#footNav li {
	display:inline;
	padding:0 2px 0 5px;
	border-left:1px solid #fff;
}

#footNav li.first {
	padding-left:0;
	border-left:0 none;
}




/**************
 BODY
**************/

#bodyWrap 
{
    margin:8px 8px 0 8px;
    padding:18px;
    background-color:#fff;
}

#bodyWrap h1 {
    font-size:20px;
    font-weight:normal;
}

#contentHome 
{
   	background-image: url(../images/d2d4d8.gif);
	background-repeat: repeat-y;
	background-position: 60% 0;
}

#contentHome .contentRight 
{
    text-align:center;
}